<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Analyzer</title>
</head>
<body>
<h1>Enter your text here :-</h1>
<form action="/analyze" method="get">
<textarea name="text" style="margin: 0px; width: 847px; height: 123px;"></textarea><br>
<input type="checkbox" name="removepunc"> Remove Punctuations <br>
<input type="checkbox" name="uppercase"> Uppercase  <br>
<input type="checkbox" name="newlineremover"> Remove New Lines  <br>
<input type="checkbox" name="exspaceremover"> Remove Extra Space <br>
<input type="checkbox" name="charcount">  Character Count <br>
<button type="submit">Analyze Text</button>
</form>
</body>
</html>